@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding-bottom: 250px;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --black: #1c1e21;
  --white: #f5e079;
  --tw-color1: #a855f7;
  --tw-color1-hover: #9333ea;
}

body {
  background: url("https://static.wixstatic.com/media/1808ae_5f0e68a0e30049a1ad033c8cd817d85f~mv2.png");
  background-color: #191F4F; /* Change to any color you like */
  background-size: cover;
  font-family: "Inter", sans-serif;
  color: var(--white);
  display: flex;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

img {
  max-width: 100%;
}
